/********** Template CSS **********/
:root {
    --primary: #F3525A;
    --secondary: #F6F6F6;
    --light: #FFFFFF;
    --dark: #152440;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.pt-6 {
    padding-top: 90px;
}

.pb-6 {
    padding-bottom: 90px;
}

.py-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.btn {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.top-shape::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 100%;
    top: 0;
    left: -17px;
    background: var(--primary);
    transform: skew(40deg);
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Barlow', sans-serif;
    padding: 35px 15px;
    font-size: 18px;
    text-transform: uppercase;
    color:  rgb(92, 215, 92);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
   color:  rgb(92, 215, 92);
}


@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(21, 36, 64, .7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.service-item {
    position: relative;
    overflow: hidden;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.service-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50px;
    bottom: -50px;
    left: 0;
    background: var(--light);
    border-radius: 100% 100% 0 0;
    box-shadow: 0px -10px 5px #EEEEEE;
    transition: .5s;
}

.service-item:hover::after {
    bottom: -25px;
}

.service-item p {
    transition: .3s;
}

.service-item:hover p {
    margin-bottom: 25px !important;
}

.team-item img {
    transform: scale(1.15);
    margin-left: -30px;
    transition: .5s;
}

.team-item:hover img {
    margin-left: 0;
}

.team-item .team-text {
    left: -100%;
    transition: .5s;
}

.team-item .team-text::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    right: -60px;
    margin-top: -30px;
    border: 30px solid;
    border-color: transparent transparent transparent var(--primary);
}

.team-item:hover .team-text {
    left: 0;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    font-size: 22px;
    border-radius: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

.testimonial-carousel .owl-item img {
    width: 90px;
    height: 90px;
}

.blog-item img {
    transition: .5s;
}

.blog-item:hover img {
    transform: scale(1.1);
}

.mentorship {
    margin-top: 35px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
}

.main-container h1 {
    margin-bottom: 1px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  #F3525A;
}

.main-container p {
    margin-top: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.Montessori-paragraph {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 9px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 1200px; 
    margin: 0 auto; 
    margin-bottom: 20px;
    color: #333;
    background-color: #f9f9f9
}

.Montessori-paragraph span {
    font-size: 19px;
    line-height: 1.5; 
    font-family: Arial, Helvetica, sans-serif;
}

.school-work {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
    grid-template-rows: repeat(4, auto);   /* Creates 4 rows */
    gap: 1rem; 
    padding: 1rem; 
    max-width: 1200px; 
    margin: 0 auto; 
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.work-shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
    gap: 10px; /* Space between items */
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 1000px;
    margin: 0 auto; /* Center the grid on the page */
}
@media (max-width: 600px) {
    #read-more{
        background-color: rgb(92, 215, 92); /* Green background */
        color: black; /* Black text */
        padding: 10px 20px; /* Padding for the button */
        font-size: 0.9rem; /* Smaller font size */
        text-align: center;
        display: inline-block;
        border-radius: 50px; /* Rounded edges (pill-shaped) */
        width: 100%; /* Full width for better usability */
    }
}
/* Style for each span (workshop location) */
.work-shop span {
    background-color: #eaeaea;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.mentorship {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #F3525A;
}

.consultancy-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
}
.workshop-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.consultancy-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.consultancy-item:hover {
    transform: scale(1.02); /* Slightly enlarge the element */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Add a soft shadow */
}


.consultancy-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.consultancy-text {
    background-color: rgb(92, 215, 92);
    color: black;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 0 0 8px 8px;
}

/* Initially hide the full text and show "Read More" */
.full-text {
    display: none;
}

.read-more-text .summary {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/* Show full text on hover (for desktops) */
.read-more-text:hover .summary {
    display: none;
}

.read-more-text:hover .full-text {
    display: inline-block;
}

/* Responsive design */
@media (max-width: 768px) {
    .consultancy-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    }
    .workshop-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    }
}

@media (max-width: 480px) {
    .consultancy-grid {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
    .workshop-grid {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
}


.school-work span {
    display: block;
    font-size: 20px;
    line-height: 1.6; 
    color: #333; 
    padding: 0.5rem;
    background-color: #f9f9f9; 
    border-radius: 4px; 
    transition: all 0.3s ease; 
    font-family: Arial, Helvetica, sans-serif;
}

/* .consultancy span:hover {
    background-color: transparent; 
    border: 2px solid #F3525A;
    color: #333; 
} */
/* .work-shop span:hover {
    background-color: transparent; 
    border: 2px solid #F3525A;
    color: #333; 
}
.work-shop-talk span:hover {
    background-color: transparent; 
    border: 2px solid #F3525A;
    color: #333; 
} */

.logo {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto;    /* Maintains aspect ratio */
    width: 70px;    /* Set a desired width */
}

@media (max-width: 768px) {
    .logo {
        width: 100px; /* Smaller size for mobile screens */
    }
}


.head-servics {
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
    color: #F3525A;
}
.backcolor {
    margin-bottom: 40px;
}
.testimonials-section {
    background-color: white;
    padding: 32px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials-heading {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 16px;
    color: #F3525A;
}

.testimonials-content {
    max-width: 1200px;
    text-align: left;
}
.link {
    margin-top: 20px;
    font-size: 17px;
    color: black;
    color: white;
}
.testimonial {
    margin-bottom: 16px;
}

.testimonial-text {
    font-style: italic;
}

.testimonial-footer {
    margin-top: 8px;
}

@media (max-width: 768px) {
    .main-container {
        margin-left: 30px;
        margin-right: 30px;
    }

    .main-container h1 {
        font-size: 20px; 
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        text-align: center;
        align-items: center;
    }
    .custom-link {
        font-size: 14px; /* Adjust font size for tablets */
        padding: 3px 6px; /* Adjust padding for tablets */
    }

    .main-container p {
        font-size: 1px; 
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        text-align: center;
        align-items: center;
    }
    .head-servics {
        font-size: 20px;
    }

    .Montessori-paragraph {
        padding: 16px; 
        margin: 1rem; 
    }

    .Montessori-paragraph span {
        font-size: 16px; 
        margin-bottom: 32px; 
        font-family: Arial, Helvetica, sans-serif;
    }

    .school-work {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
        padding: 0.5rem;
    }


    .consultancy {
        display: flex;
        flex-direction: column;
        margin-right: 35px;
        margin-left: 35px;
    }


    .school-work span {
        font-size: 16px; 
        padding: 0.25rem; 
        font-family: Arial, Helvetica, sans-serif;
    }

    .testimonials-heading {
        font-size: 32px; 
    }

    .testimonials-content {
        width: 100%; 
    }
    .mentorship {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .main-container h1 {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .head-servics {
        font-size: 20px;
    }


    .main-container p {
        font-size: 14px; 
        font-family: Arial, Helvetica, sans-serif;
    }

    .Montessori-paragraph span {
        font-size: 14px; 
        margin-bottom: 16px; 
    }
  .link a{
      font-size: 10px;
  }
  

.consultancy {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    margin-left: 35px;
}

    .school-work span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px; 
        padding: 0.25rem; 
    }

    .testimonials-heading {
        font-size: 28px; 
    }
    .custom-link {
        font-size: 12px; /* Adjust font size for mobile */
        padding: 2px 4px; /* Adjust padding for mobile */
    }
}

